html, input {
	font-family: 'Patua One', cursive;
}

.smiley, .logo, .result {
	border: solid;
}

.container {
	width: 60%;
	margin: 4em auto;
}

.logos {
	text-align: center;
	overflow: auto;
}

.logos div {
	height: 6em;
	padding: 2em;
}

.smiley {
	float: left;
}

.form {
	background-color: #6666FF;
	text-align: center;
	padding: 2em 0;
	border-left: solid;
	border-right: solid;
}

.form h2 {
	letter-spacing: 4px;
}

.column {
	display: inline-block;
}

.column input {
	display: block;
	margin: 1em;
}

.result {
	background-color: #E4E4E4;
	font-family: 'Gloria Hallelujah', cursive;
	padding: 3em;
	font-size: 1.5em;
}