.smiley, .logo, .result {
	border: solid;
}

.container {
	width: 60%;
	margin: 4em auto;
}

.logos {
	text-align: center;
	overflow: auto;
}

.logos div {
	height: 6em;
	padding: 2em;
}

.smiley {
	float: left;
}

.form {
	text-align: center;
	padding: 2em 0;
	border-left: solid;
	border-right: solid;
}

.column {
	display: inline-block;
}

.column input {
	display: block;
	margin: 1em;
}

.result {
	padding: 3em;
}